@use "../utils/mixin.scss";
@use "../utils/colors.scss";

.button-city {
  background-color: colors.$lightgrey;
  text-align: center;
  & h2 {
    margin-top: 0;
    padding: 2rem;
    font-size: 1.5rem;
  }
  & p {
    padding: 0 15px;
  }

  & button {
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    @include mixin.gradient(0.9);
    margin-top: 0.9rem;
    margin-bottom: 2rem;
    @include mixin.base-shadow2;
  }
  & button:hover,
  & button:active {
    transform: scale(1.02);
    opacity: 0.9;
    cursor: pointer;
  }
}
