@use "../utils/mixin.scss";
@use "../utils/colors.scss";

.explorer { 
    background-color: colors.$lightgrey;
    text-align: center;
    & h2 { 
    margin-top: 0;
    padding: 2rem;
    font-size: 1.5rem;
}
    & p { 
    font-size: 0.9rems;
}
    & button { 
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    @include mixin.gradient(0.9);
    transform: 200ms;
    margin-top: 0.9rem;
    margin-bottom: 2rem;
    @include mixin.base-shadow;
}   
    & button:hover { 
    transform: scale(1.02);
    opacity: 0.9;
    cursor: pointer;
}
}