@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";

.tuto { 
    & ol { 
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        border-radius: 1rem;
        @media (max-width: 800px) { 
            flex-direction: columns;
        }
    }
    & li {
    background-color: #f6f6f6;
    padding: 1rem 2rem;
    border: 1px solid red;
    flex-grow: 1;
    border-radius: 1rem;
    @include box-shadow.base-shadow;
    &:hover { 
        @include zoom.zoom;
    }
}
}
