@use "../utils/mixin.scss";
@use "../utils/colors.scss";

.function-filter { 
    margin-bottom: 2rem;
    cursor: pointer;
    & ol { 
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        border-radius: 1rem;
        list-style:none;
    @media (max-width: 1200px) { 
            flex-direction: columns;
            list-style:none;
        }
    }
    & li {
        background-color: #f6f6f6;
        padding: 1rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include mixin.base-shadow2;
    &:hover { 
        @include mixin.zoom;
    }
    & i.fas { 
        margin-right: 1rem;
        color: lightgrey;
        font-size: 1.5rem;
    }
    & span { 
        color: white;
        background-color: #9356dc;
        position: relative;
        padding: 8px;
        font-size: small;
        left: -40px;
        width: 25px;
        height: 25px;
        -moz-border-radius: 60px;
        -moz-background-clip: padding;
        border-radius: 60px;
        background-clip: padding-box;
        float: left;
        display: flex;
        align-items: center;
    }
}
}
