@use "../utils/mixin.scss";
@use "../utils/animations.scss";

// loader

.lds-dual-ring {
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 1;
    inset: 0;

  }
  .lds-dual-ring:after {
    content: " ";
    position: absolute;
    width: 80px;
    height: 84px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fcf;
    border-color: #fcf transparent #fcf transparent;
    animation: lds-dual-ring 1.2s linear infinite;
 
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

//header

header { 
    font-family: 'Shrikhand', cursive;
    text-align: center;
    @include mixin.base-shadow2;
    padding: 0.3rem;
    position: relative;
}

.city { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: lightgrey;
    text-align: center;
    padding: 2rem;
    & i { 
        font-size: 1.2rem;
        padding-left: 3rem;
    }
}
.city input { 
    background-color: lightgrey !important;
    border:none;
    font-size: 1rem;
 
}
