@use "../utils/mixin.scss";
@use "../utils/animations.scss";

// loader

.loader-start { 
  position: fixed;
  background: linear-gradient(#ffa91f, #d725f6c0);
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.8;
  animation: disappear 100ms forwards;
  animation-delay: 2s;
  transform-origin: center;
}
@keyframes disappear { 
  from { 
    transform: scale(1);
  }
  to { 
    transform: scale(1);
  }
}
  .lds-dual-ring {
    width: 120px;
    border-radius: 50%;
    border: 10px solid purple;
    border-color: white transparent white transparent;
    animation: lds-dual-ring 0.5s ease infinite;
    
    & i { 
      font-size: xx-large;
      padding: 35%;
      color: white;
    }
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

//header

header { 
    font-family: 'Shrikhand', cursive;
    text-align: center;
    @include mixin.base-shadow2;
    padding: 0.3rem;
    position: relative;
}

.city { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: lightgrey;
    text-align: center;
    padding: 2rem;
    & i { 
        font-size: 1.2rem;
        padding-left: 3rem;
    }
}
.city input { 
    background-color: lightgrey !important;
    border:none;
    font-size: 1rem;
 
}
