@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.loader-start {
  position: fixed;
  background: linear-gradient(#b81fff, #ff53ffc0);
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 100ms forwards;
  animation-delay: 2s;
  transform-origin: center;
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.lds-dual-ring {
  width: 120px;
  border-radius: 50%;
  border: 10px solid purple;
  border-color: white transparent white transparent;
  animation: lds-dual-ring 0.5s ease infinite;
  position: absolute;
  top: 35%;
  right: 48%;
}
@media (max-width: 768px) {
  .lds-dual-ring {
    top: 40%;
    right: 38%;
  }
}
.lds-dual-ring i {
  font-size: xx-large;
  padding: 35%;
  color: white;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 4px 4px 6px #aaa;
  padding: 0.3rem;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: lightgrey;
  text-align: center;
  padding: 2rem;
}
.city i {
  font-size: 1.2rem;
  padding-left: 3rem;
}

.city input {
  background-color: lightgrey !important;
  border: none;
  font-size: 1rem;
}

.button-city {
  background-color: #F6F6F6;
  text-align: center;
}
.button-city h2 {
  margin-top: 0;
  padding: 2rem;
  font-size: 1.5rem;
}
.button-city button {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  margin-top: 0.9rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 6px #aaa;
}
.button-city button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.function-filter {
  margin-bottom: 2rem;
  cursor: pointer;
}
.function-filter ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 1rem;
  list-style: none;
  justify-content: space-evenly;
}
.function-filter li {
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  margin-right: 5rem;
  text-align: center;
  box-shadow: 4px 4px 6px #aaa;
}
.function-filter li:hover {
  transform: scale(1.02);
  background-color: #ffe6ff;
}
.function-filter li i.fas {
  margin-right: 1rem;
  color: lightgrey;
  font-size: 1.5rem;
}
.function-filter li span {
  color: white;
  background-color: #9356dc;
  position: relative;
  padding: 8px;
  font-size: small;
  left: -40px;
  width: 25px;
  height: 25px;
  -moz-border-radius: 60px;
  -moz-background-clip: padding;
  border-radius: 60px;
  background-clip: padding-box;
  float: left;
  display: flex;
  align-items: center;
}

.chart {
  background-color: #f6f6f6;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
@media (max-width: 761px) {
  .chart {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.chart h2 {
  margin: 3rem 1rem;
  padding-top: 1rem;
}
.chart .chart__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1rem;
  position: relative;
  gap: 2rem;
}
@media (max-width: 762px) {
  .chart .chart__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.chart .chart__cards .new {
  position: relative;
}
.chart .chart__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 0.3rem;
  animation-duration: 0.8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.chart .card {
  background-color: white;
  border-radius: 1rem;
}
.chart .card:hover {
  transform: scale(1.02);
}
.chart .card__image {
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.chart .card__image-1 {
  background-image: url("./asset/images/restaurants/image1.jpg");
}
.chart .card__image-2 {
  background-image: url("./asset/images/restaurants/image2.jpg");
}
.chart .card__image-3 {
  background-image: url("./asset/images/restaurants/image3.jpg");
}
.chart .card__image-4 {
  background-image: url("./asset/images/restaurants/image4.jpg");
}
.chart .card h3,
.chart .card p {
  padding-left: 1rem;
}
.chart .card .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 600ms;
}
.chart .card .fas:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 600ms;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
.chart .card:hover .fas {
  opacity: 1;
  transform: scale(1.2);
  transition-delay: 250ms;
}
.chart .card__description {
  position: relative;
}
.chart i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 20%;
}

footer {
  padding: 1rem 3rem;
  margin: 0;
  height: auto;
  background-color: #353535;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  color: white;
  font-size: 2rem;
  font-weight: 400;
}
footer p {
  color: white;
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
}

.arrow {
  left: 2rem;
  position: absolute;
  top: 20%;
}
.arrow:hover {
  transform: scale(1.5);
}

.img-page img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.icon-div h2 {
  font-family: "Shrikhand", "cursive";
  position: relative;
  padding: 2rem 1rem;
}
.icon-div .icon-page {
  margin-top: -8rem;
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.icon-div .icon-page i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 20%;
}
.icon-div .icon-page .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
.icon-div .icon-page .fas:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.food-page {
  padding: 1rem;
  background-color: #F6F6F6;
  justify-content: space-evenly;
  display: flex;
}
@media (max-width: 1200px) {
  .food-page {
    display: block;
  }
}
.food-page h3 {
  border-bottom: 5px solid #99e2d0;
  width: 2rem;
  opacity: 0.8;
}

.main-food-page {
  background-color: #F6F6F6;
}

.food-menu {
  display: flex;
  overflow: hidden;
  background-color: white;
  margin: 1rem 0;
  border-radius: 1rem;
  margin-right: 1rem;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  animation: appear 2s;
  animation-fill-mode: both;
}
.food-menu:nth-child(1) {
  animation-delay: 100ms;
}
.food-menu:nth-child(2) {
  animation-delay: 200ms;
}
.food-menu:nth-child(3) {
  animation-delay: 300ms;
}
.food-menu h4,
.food-menu p {
  padding-left: 1rem;
  margin: 0;
  padding-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.food-menu .food-menu__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 3rem);
  transition: width 200ms linear;
}
.food-menu .food-menu__price {
  font-weight: 900;
  align-self: self-end;
  width: 3rem;
  height: 2rem;
  text-align: center;
}
.food-menu .food-menu__slide {
  background-color: #99e2d0;
  margin-right: -4rem;
  height: 60px;
  width: 4rem;
  cursor: pointer;
  display: grid;
  align-items: center;
  flex-shrink: 0;
  transition: margin-right 200ms linear;
  text-align: center;
}
.food-menu:hover .food-menu__slide {
  margin-right: 0;
}
.food-menu:hover .food-menu__slide i {
  animation: reverse-check 0.5s ease-in-out;
}
@keyframes reverse-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.food-menu:hover .food-menu__description {
  width: calc(100% - 7rem);
}
.food-menu .fa-check-circle {
  color: #fff;
}

.button-command {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-command button {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  margin: 30px 0;
  padding: 20px;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-command button:hover {
  transform: scale(1.04);
  transition-property: transform;
}
@media (max-width: 768px) {
  .button-command button {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
