@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive; */

*,
::before,
::after { 
    box-sizing: border-box;
   
}
body { 
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

header { 
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0px 5px 1px gray;
    padding: 0.3rem;
    position: relative;
}

main .city { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    padding: 1rem;
}

main .city i { 
    font-size: 1.5rem;
}