@use "../../sass/utils/mixin.scss";
@use "../utils/colors.scss";
@use "../utils/variables.scss";
@use "../utils/animations.scss";

.arrow {
  left: 2rem;
  position: absolute;
  top: 38%;
  font-size: 1.5rem;
  &:hover,
  &:active {
    transform: scale(1.2);
  }
}

// SECTION IMG, ICON //

.img-page img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}
.icon-div {
  h2 {
    font-family: "Shrikhand", "cursive";
    position: relative;
    padding: 2rem 1rem;
  }
  .icon-page {
    margin-top: -8rem;
    background-color: colors.$lightgrey;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    & i {
      font-size: 2rem;
      position: absolute;
      right: 1rem;
      top: 20%;
    }
    display: flex;
    justify-content: space-between;
    .fas {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
      transition: all 200ms;
      @include mixin.gradient(1);
    }
    & .fas:hover,
    & .fas:active {
      opacity: 1;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

// SECTION MENU //

.food-page {
  padding: 1rem;
  background-color: colors.$lightgrey;
  justify-content: space-evenly;
  display: flex;
  @media (max-width: 1200px) {
    display: block;
  }
  h3 {
    border-bottom: 5px solid colors.$tertiary;
    width: 2rem;
    opacity: 0.8;
  }
}
.main-food-page {
  background-color: colors.$lightgrey;
}
.food-menu {
  display: flex;
  overflow: hidden;
  background-color: white;
  margin: 1rem 0;
  border-radius: 1rem;
  margin-right: 1rem;
  @include mixin.base-shadow2;
  animation: appear 2s;
  animation-fill-mode: both;
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  }
  h4,
  p {
    padding-left: 1rem;
    margin: 0;
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .food-menu__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 3rem);
    transition: width 200ms linear;
  }
  
  .food-menu__price {
    font-weight: 900;
    align-self: self-end;
    width: 3rem;
    height: 2rem;
    text-align: center;
  }
  .food-menu__slide {
    background-color: colors.$tertiary;
    margin-right: -4rem;
    height: 60px;
    width: 4rem;
    display: grid;
    align-items: center;
    flex-shrink: 0;
    transition: margin-right 200ms linear;
    text-align: center;
  }
  &:hover .food-menu__slide,
  &:active .food-menu__slide {
    margin-right: 0;
    cursor: pointer;
    i {
      @include animations.reverse-check;
      animation: reverse-check 0.5s ease-in-out {

      }
    }
  }
  &:hover .food-menu__description,
  &:active .food-menu__description {
    width: calc(100% - 7rem);
    cursor: pointer;
  }
  & .fa-check-circle {
    color: #fff;
  }
}
@media (min-width: 1200px) { 
  .food__category { 
    width: 33%;
  }
}

// COMMANDER BUTTON

.button-command {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button-command button {
  @include mixin.gradient(1);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  @include mixin.base-shadow2;
  margin: 30px 0;
  padding: 20px;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &:hover,
  &:active {
    transform: scale(1.04);
    transition-property: transform;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    width: 50%;
  }
}
