@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

*,
::before,
::after { 
    box-sizing: border-box;
   
}
body { 
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

main { 
    padding: 0 7rem;
@media (max-width: 1000px) {
    padding: 0 1rem;
    
}
}

a { 
    text-decoration: none;
    color: inherit;
}